- Población x cantón
- Tasa de Desempleo x cantón
- ingreso medio x cantón


- numero de agentes de policia x cantón ,  nivel educativo x cantón

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## 2016 - 2017 - 2018

In [2]:
df2 = pd.read_csv(r"C:\Users\geova\OneDrive\Escritorio\Datos empleo\Tasa 2019.csv", sep=';', encoding='latin-1' )
df2

,Año,Empleo,Total,Azuay,Bolívar,Cañar,Carchi,Cotopaxi,Chimborazo,El Oro,...,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena,Quito,Guayaquil,Cuenca,Machala,Ambato
0,1/3/2016,Empleo Bruto (%),"64,6",-,-,-,-,-,-,-,...,-,-,-,-,-,64,"61,1","59,8","64,3","64,1"
1,1/3/2016,Empleo Global (%),"94,3",-,-,-,-,-,-,-,...,-,-,-,-,-,"92,2","92,8","95,4",96,93
2,1/3/2016,Empleo Adecuado/Pleno (%),40,-,-,-,-,-,-,-,...,-,-,-,-,-,"61,2","53,9","60,7",51,"51,2"
3,1/3/2016,Subempleo (%),"17,1",-,-,-,-,-,-,-,...,-,-,-,-,-,"10,4","18,4","8,9","12,4","16,7"
4,1/3/2016,Subempleo por insuficiencia de tiempo de traba...,"14,1",-,-,-,-,-,-,-,...,-,-,-,-,-,9,"15,9","7,7","10,7","13,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,1/12/2019,Desempleo (%),"3,8",-,-,-,-,-,-,-,...,-,-,-,-,-,"7,9","2,9","3,7","4,2",4
220,1/12/2019,Desempleo Abierto (%),"3,4",-,-,-,-,-,-,-,...,-,-,-,-,-,"7,3","2,6","3,5","3,9","3,6"
221,1/12/2019,Desempleo Oculto (%),"0,5",-,-,-,-,-,-,-,...,-,-,-,-,-,"0,6","0,2","0,3","0,3","0,4"
222,1/12/2019,Participación Global (%),"65,3",-,-,-,-,-,-,-,...,-,-,-,-,-,"63,6","61,4","63,3","62,2","64,3"
223,1/12/2019,Participación Bruta (%),"46,4",-,-,-,-,-,-,-,...,-,-,-,-,-,50,"46,5","48,1","47,3","49,5"

In [3]:
df2.isnull().sum()
df2.drop_duplicates(inplace = True )

In [4]:
#df2["Año"] = pd.to_datetime(df2["Año"])
#df2["Año"] = df2["Año"].dt.year

In [5]:
df2['Año'] = pd.to_datetime(df2['Año'], format='%d/%m/%Y')
df2_diciembre = df2[df2['Año'].dt.month == 12]
df = df2_diciembre[df2_diciembre['Año'].dt.year != 2019]

In [6]:
columnas_numericas = ['Total', 'Azuay', 'Bolívar', 'Cañar', 'Carchi', 'Cotopaxi', 'Chimborazo', 
                      'El Oro', 'Esmeraldas', 'Guayas', 'Imbabura', 'Loja', 'Los Ríos', 'Manabí', 
                      'Morona Santiago', 'Napo', 'Pastaza', 'Pichincha', 'Tungurahua', 
                      'Zamora Chinchipe', 'Galápagos', 'Sucumbíos', 'Orellana', 
                      'Santo Domingo', 'Santa Elena', #'Amazonía'
                      'Quito', 'Guayaquil', 'Cuenca', 'Machala', 'Ambato']

df[columnas_numericas] = df[columnas_numericas].apply(lambda x: x.str.replace('-', 'NaN'))
df[columnas_numericas] = df[columnas_numericas].apply(lambda x: x.str.replace(',', '.')).astype(float)

C:\Users\geova\AppData\Local\Temp\ipykernel_8844\2095010555.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columnas_numericas] = df[columnas_numericas].apply(lambda x: x.str.replace('-', 'NaN'))
C:\Users\geova\AppData\Local\Temp\ipykernel_8844\2095010555.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columnas_numericas] = df[columnas_numericas].apply(lambda x: x.str.replace(',', '.')).astype(float)

In [7]:
df.dtypes

Año                 datetime64[ns]
Empleo                      object
Total                      float64
Azuay                      float64
Bolívar                    float64
Cañar                      float64
Carchi                     float64
Cotopaxi                   float64
Chimborazo                 float64
El Oro                     float64
Esmeraldas                 float64
Guayas                     float64
Imbabura                   float64
Loja                       float64
Los Ríos                   float64
Manabí                     float64
Morona Santiago            float64
Napo                       float64
Pastaza                    float64
Pichincha                  float64
Tungurahua                 float64
Zamora Chinchipe           float64
Galápagos                  float64
Sucumbíos                  float64
Orellana                   float64
Santo Domingo              float64
Santa Elena                float64
Quito                      float64
Guayaquil                  float64
Cuenca                     float64
Machala                    float64
Ambato                     float64
dtype: object

In [8]:
#desempleo1 = df[df['Empleo'].str.contains('Desempleo ', case=False)]
#desempleo1 = df[df['Empleo'].str.contains(r'\bDesempleo\b', case=False)]
desempleo1 = df[df['Empleo'].str.strip().str.match(r'^Desempleo$', case=False)]

In [9]:
desempleo1["Año"] = desempleo1["Año"].dt.year
desempleo1

C:\Users\geova\AppData\Local\Temp\ipykernel_8844\1328782344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desempleo1["Año"] = desempleo1["Año"].dt.year

,Año,Empleo,Total,Azuay,Bolívar,Cañar,Carchi,Cotopaxi,Chimborazo,El Oro,...,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena,Quito,Guayaquil,Cuenca,Machala,Ambato
51,2016,Desempleo,5.2,2.9,2.7,5.1,5.7,2.6,1.3,4.1,...,2.9,6.6,4.7,3.3,3.2,9.1,6.4,4.8,5.3,7.1
107,2017,Desempleo,4.6,4.0,2.4,4.3,5.2,2.3,0.9,4.2,...,0.8,7.7,3.5,3.1,4.3,9.4,4.4,5.6,5.6,6.1
163,2018,Desempleo,3.7,2.6,1.6,4.2,5.7,1.0,2.0,4.5,...,NaN,8.6,3.8,3.3,2.8,8.2,3.1,4.7,5.4,3.4

In [10]:
desempleo1.dtypes

Año                   int32
Empleo               object
Total               float64
Azuay               float64
Bolívar             float64
Cañar               float64
Carchi              float64
Cotopaxi            float64
Chimborazo          float64
El Oro              float64
Esmeraldas          float64
Guayas              float64
Imbabura            float64
Loja                float64
Los Ríos            float64
Manabí              float64
Morona Santiago     float64
Napo                float64
Pastaza             float64
Pichincha           float64
Tungurahua          float64
Zamora Chinchipe    float64
Galápagos           float64
Sucumbíos           float64
Orellana            float64
Santo Domingo       float64
Santa Elena         float64
Quito               float64
Guayaquil           float64
Cuenca              float64
Machala             float64
Ambato              float64
dtype: object

## 2019 - 2021 - 2022

In [11]:
df1 = pd.read_csv(r"C:\Users\geova\OneDrive\Escritorio\Datos empleo\Estimadores 2022.csv", sep=';', encoding='latin-1' )

In [12]:
df1.head(10)

,Año,Empleo,Indicador,Total,Quito,Guayaquil,Cuenca,Machala,Ambato,Azuay,...,Napo,Pastaza,Pichincha,Tungurahua,Zamora Chinchipe,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena
0,2019,Empleo Bruto,Indicador,"64,50%","57,40%","61,90%","58,20%","58,20%","63,80%","67,80%",...,"80,70%","82,50%","59,20%","75,00%","72,80%","74,80%","65,70%","81,30%","63,30%","59,40%"
1,2019,Empleo Bruto,Error estándar,"0,002","0,003","0,003","0,005","0,004","0,004","0,005",...,"0,02","0,019","0,003","0,006","0,019","0,01","0,017","0,03","0,009","0,009"
2,2019,Empleo Bruto,Límite inferior,"64,10%","56,70%","61,30%","57,30%","57,30%","63,00%","66,70%",...,"76,90%","78,90%","58,60%","73,90%","69,00%","72,90%","62,30%","75,40%","61,50%","57,60%"
3,2019,Empleo Bruto,Límite superior,"64,80%","58,10%","62,50%","59,10%","59,00%","64,60%","68,80%",...,"84,60%","86,20%","59,90%","76,20%","76,70%","76,70%","69,10%","87,10%","65,20%","61,10%"
4,2019,Empleo Bruto,Coeficiente de variación,"0,3","0,6","0,5","0,8","0,7","0,6","0,8",...,"2,4","2,3","0,5","0,8","2,7","1,3","2,7","3,7","1,5","1,5"
5,2019,Empleo Global,Indicador,"95,80%","90,90%","96,90%","94,80%","94,00%","95,20%","96,60%",...,"97,80%","98,10%","92,00%","97,80%","96,90%","97,90%","95,30%","98,20%","97,20%","97,20%"
6,2019,Empleo Global,Error estándar,"0,001","0,003","0,001","0,002","0,003","0,002","0,002",...,"0,004","0,003","0,002","0,001","0,004","0,005","0,006","0,004","0,004","0,005"
7,2019,Empleo Global,Límite inferior,"95,70%","90,40%","96,70%","94,30%","93,50%","94,80%","96,20%",...,"97,10%","97,50%","91,60%","97,50%","96,00%","96,90%","94,00%","97,30%","96,40%","96,30%"
8,2019,Empleo Global,Límite superior,"96,00%","91,40%","97,20%","95,20%","94,60%","95,60%","96,90%",...,"98,50%","98,70%","92,40%","98,10%","97,80%","98,80%","96,60%","99,00%","97,90%","98,10%"
9,2019,Empleo Global,Coeficiente de variación,"0,1","0,3","0,1","0,2","0,3","0,2","0,2",...,"0,4","0,3","0,2","0,1","0,5","0,5","0,7","0,4","0,4","0,5"

In [13]:
#df1.columns.tolist()

In [14]:
columnas_numericas = ['Total', 'Quito', 'Guayaquil', 'Cuenca', 'Machala', 'Ambato', 'Azuay', 'Bolívar', 'Cañar', 'Carchi', 'Cotopaxi', 'Chimborazo', 'El Oro', 'Esmeraldas', 'Guayas', 'Imbabura', 'Loja', 'Los Ríos', 'Manabí', 'Morona Santiago', 'Napo', 'Pastaza', 'Pichincha', 'Tungurahua', 'Zamora Chinchipe', 'Galápagos', 'Sucumbíos', 'Orellana', 'Santo Domingo', 'Santa Elena']

for columna in columnas_numericas:
    df1[columna] = df1[columna].str.replace('%', '').str.replace(',', '.').astype(float)

In [15]:
desempleo2 = df1[df1['Empleo'].str.contains('Desempleo', case=False) & df1['Indicador'].str.contains('Indicador', case=False)]
desempleo2

,Año,Empleo,Indicador,Total,Quito,Guayaquil,Cuenca,Machala,Ambato,Azuay,...,Napo,Pastaza,Pichincha,Tungurahua,Zamora Chinchipe,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena
30,2019,Desempleo,Indicador,4.2,9.1,3.1,5.2,6.0,4.8,3.4,...,2.2,1.9,8.0,2.2,3.1,2.1,4.7,1.8,2.8,2.8
80,2021,Desempleo,Indicador,5.2,11.8,4.4,7.3,8.7,6.1,5.1,...,2.3,2.0,10.8,3.1,3.0,9.3,5.4,2.6,3.7,3.6
130,2022,Desempleo,Indicador,4.4,9.0,3.8,5.2,7.7,4.8,3.3,...,1.5,1.6,8.5,2.2,3.0,5.6,4.5,1.3,2.3,2.7

In [16]:
desempleo2.dtypes

Año                   int64
Empleo               object
Indicador            object
Total               float64
Quito               float64
Guayaquil           float64
Cuenca              float64
Machala             float64
Ambato              float64
Azuay               float64
Bolívar             float64
Cañar               float64
Carchi              float64
Cotopaxi            float64
Chimborazo          float64
El Oro              float64
Esmeraldas          float64
Guayas              float64
Imbabura            float64
Loja                float64
Los Ríos            float64
Manabí              float64
Morona Santiago     float64
Napo                float64
Pastaza             float64
Pichincha           float64
Tungurahua          float64
Zamora Chinchipe    float64
Galápagos           float64
Sucumbíos           float64
Orellana            float64
Santo Domingo       float64
Santa Elena         float64
dtype: object

## II trimestre 2023

In [17]:
df3 = pd.read_csv(r"C:\Users\geova\OneDrive\Escritorio\Datos empleo\Tasas 2023.csv", sep=';', encoding='latin-1' )

In [18]:
df3

,Año,Empleo,Total,Quito,Guayaquil,Cuenca,Machala,Ambato
0,2020,Empleo Bruto (%),"61,7","53,8","59,8","55,9","53,6","60,7"
1,2020,Empleo Global (%),"94,4","84,2","95,8","92,7","88,9",92
2,2020,Empleo Adecuado/Pleno (%),"29,1","36,8","42,8","51,8","37,6",35
3,2020,Subempleo (%),"24,5","26,1","23,4","16,5","24,3","29,3"
4,2020,Subempleo por insuficiencia de tiempo de traba...,"21,8","21,6","21,6","14,6","20,8","24,5"
...,...,...,...,...,...,...,...,...
149,2023,Desempleo,"3,8","7,8","3,7","4,1",6,"3,8"
150,2023,Desempleo Abierto (%),"3,5","7,3","3,5","3,6","5,4","3,3"
151,2023,Desempleo Oculto (%),"0,3","0,5","0,1","0,4","0,5","0,6"
152,2023,Participación Global (%),"64,4",62,"59,2","65,7","65,2","70,6"
153,2023,Participación Bruta (%),"45,9","48,7",45,50,"49,6","54,4"

In [19]:
#desempleo3 = df3[df3['Empleo'].str.contains('Desempleo', case=False)]

In [20]:
desempleo3 = df3[df3['Empleo'].str.strip().str.match(r'^Desempleo$', case=False)]

In [21]:
desempleo3

      Año     Empleo Total Quito Guayaquil Cuenca Machala Ambato
9    2020  Desempleo   5,6  15,8       4,2    7,3    11,1      8
149  2023  Desempleo   3,8   7,8       3,7    4,1       6    3,8

In [22]:
desempleo1.columns.tolist()

['Año',
 'Empleo',
 'Total',
 'Azuay',
 'Bolívar',
 'Cañar',
 'Carchi',
 'Cotopaxi',
 'Chimborazo',
 'El Oro',
 'Esmeraldas',
 'Guayas',
 'Imbabura',
 'Loja',
 'Los Ríos',
 'Manabí',
 'Morona Santiago',
 'Napo',
 'Pastaza',
 'Pichincha',
 'Tungurahua',
 'Zamora Chinchipe',
 'Galápagos',
 'Sucumbíos',
 'Orellana',
 'Santo Domingo',
 'Santa Elena',
 'Quito',
 'Guayaquil',
 'Cuenca',
 'Machala',
 'Ambato']

In [23]:
desempleo2.columns.tolist()

['Año',
 'Empleo',
 'Indicador',
 'Total',
 'Quito',
 'Guayaquil',
 'Cuenca',
 'Machala',
 'Ambato',
 'Azuay',
 'Bolívar',
 'Cañar',
 'Carchi',
 'Cotopaxi',
 'Chimborazo',
 'El Oro',
 'Esmeraldas',
 'Guayas',
 'Imbabura',
 'Loja',
 'Los Ríos',
 'Manabí',
 'Morona Santiago',
 'Napo',
 'Pastaza',
 'Pichincha',
 'Tungurahua',
 'Zamora Chinchipe',
 'Galápagos',
 'Sucumbíos',
 'Orellana',
 'Santo Domingo',
 'Santa Elena']

In [24]:
desempleo3.columns.tolist()

['Año', 'Empleo', 'Total', 'Quito', 'Guayaquil', 'Cuenca', 'Machala', 'Ambato']

In [25]:
desempleo3

      Año     Empleo Total Quito Guayaquil Cuenca Machala Ambato
9    2020  Desempleo   5,6  15,8       4,2    7,3    11,1      8
149  2023  Desempleo   3,8   7,8       3,7    4,1       6    3,8

In [26]:
desempleo2

,Año,Empleo,Indicador,Total,Quito,Guayaquil,Cuenca,Machala,Ambato,Azuay,...,Napo,Pastaza,Pichincha,Tungurahua,Zamora Chinchipe,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena
30,2019,Desempleo,Indicador,4.2,9.1,3.1,5.2,6.0,4.8,3.4,...,2.2,1.9,8.0,2.2,3.1,2.1,4.7,1.8,2.8,2.8
80,2021,Desempleo,Indicador,5.2,11.8,4.4,7.3,8.7,6.1,5.1,...,2.3,2.0,10.8,3.1,3.0,9.3,5.4,2.6,3.7,3.6
130,2022,Desempleo,Indicador,4.4,9.0,3.8,5.2,7.7,4.8,3.3,...,1.5,1.6,8.5,2.2,3.0,5.6,4.5,1.3,2.3,2.7

In [27]:
desempleo1

,Año,Empleo,Total,Azuay,Bolívar,Cañar,Carchi,Cotopaxi,Chimborazo,El Oro,...,Galápagos,Sucumbíos,Orellana,Santo Domingo,Santa Elena,Quito,Guayaquil,Cuenca,Machala,Ambato
51,2016,Desempleo,5.2,2.9,2.7,5.1,5.7,2.6,1.3,4.1,...,2.9,6.6,4.7,3.3,3.2,9.1,6.4,4.8,5.3,7.1
107,2017,Desempleo,4.6,4.0,2.4,4.3,5.2,2.3,0.9,4.2,...,0.8,7.7,3.5,3.1,4.3,9.4,4.4,5.6,5.6,6.1
163,2018,Desempleo,3.7,2.6,1.6,4.2,5.7,1.0,2.0,4.5,...,NaN,8.6,3.8,3.3,2.8,8.2,3.1,4.7,5.4,3.4

## MERGE

In [28]:
import pandas as pd

# Supongamos que tienes tres DataFrames llamados df1, df2 y df3

# Concatenar los DataFrames en uno solo
dataframes = [desempleo1, desempleo2, desempleo3]
df_merged = pd.concat(dataframes)

In [29]:
df_merged = df_merged.drop(columns=['Empleo'])

In [30]:
nombres_columnas = {
    'Azuay':'AZUAY',
    'Bolívar':'BOLIVAR',
    'Cañar':'CAÑAR',
    'Carchi':'CARCHI',
    'Cotopaxi':'COTOPAXI',
    'Chimborazo':'CHIMBORAZO',
    'El Oro':'EL ORO',
    'Esmeraldas':'ESMERALDAS',
    'Guayas':'GUAYAS',
    'Imbabura':'IMBABURA',
    'Loja':'LOJA',
    'Los Ríos':'LOS RIOS',
    'Manabí':'MANABI',
    'Morona Santiago':'MORONA SANTIAGO',
    'Napo':'NAPO',
    'Pastaza':"PASTAZA",
    'Pichincha':'PICHINCHA',
    'Tungurahua':'TUNGURAHUA',
    'Zamora Chinchipe':'ZAMORA CHINCHIPE',
    'Galápagos':'GALAPAGOS',
    'Sucumbíos':'SUCUMBIOS',
    'Orellana':'ORELLANA',
    'Santo Domingo':'SANTO DOMINGO DE LOS TSACHILAS',
    'Santa Elena':'SANTA ELENA',
    'Quito':'QUITO',
    'Guayaquil':'GUAYAQUIL',
    'Cuenca':'CUENCA',
    'Machala':'MACHALA',
    'Ambato':'AMBATO'
    }
df_merged = df_merged.drop(columns=['Indicador'])
# Renombrar las columnas utilizando el diccionario
df_merged.rename(columns=nombres_columnas, inplace=True)

df_merged

,Año,Total,AZUAY,BOLIVAR,CAÑAR,CARCHI,COTOPAXI,CHIMBORAZO,EL ORO,ESMERALDAS,...,GALAPAGOS,SUCUMBIOS,ORELLANA,SANTO DOMINGO DE LOS TSACHILAS,SANTA ELENA,QUITO,GUAYAQUIL,CUENCA,MACHALA,AMBATO
51,2016,5.2,2.9,2.7,5.1,5.7,2.6,1.3,4.1,8.9,...,2.9,6.6,4.7,3.3,3.2,9.1,6.4,4.8,5.3,7.1
107,2017,4.6,4.0,2.4,4.3,5.2,2.3,0.9,4.2,7.8,...,0.8,7.7,3.5,3.1,4.3,9.4,4.4,5.6,5.6,6.1
163,2018,3.7,2.6,1.6,4.2,5.7,1.0,2.0,4.5,5.1,...,NaN,8.6,3.8,3.3,2.8,8.2,3.1,4.7,5.4,3.4
30,2019,4.2,3.4,1.4,3.9,4.9,1.7,1.3,4.9,10.4,...,2.1,4.7,1.8,2.8,2.8,9.1,3.1,5.2,6.0,4.8
80,2021,5.2,5.1,1.1,4.0,6.3,2.8,2.3,6.9,10.0,...,9.3,5.4,2.6,3.7,3.6,11.8,4.4,7.3,8.7,6.1
130,2022,4.4,3.3,0.9,3.7,5.9,1.7,2.0,6.0,9.1,...,5.6,4.5,1.3,2.3,2.7,9.0,3.8,5.2,7.7,4.8
9,2020,"5,6",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"15,8","4,2","7,3","11,1",8
149,2023,"3,8",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"7,8","3,7","4,1",6,"3,8"

In [31]:
columnas_numericas = ['QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']

df_merged[columnas_numericas] = df_merged[columnas_numericas].apply(lambda x: x.str.replace('-', 'NaN'))
df_merged[columnas_numericas] = df_merged[columnas_numericas].apply(lambda x: x.str.replace(',', '.')).astype(float)

In [32]:
df_merged.dtypes

Año                                 int64
Total                              object
AZUAY                             float64
BOLIVAR                           float64
CAÑAR                             float64
CARCHI                            float64
COTOPAXI                          float64
CHIMBORAZO                        float64
EL ORO                            float64
ESMERALDAS                        float64
GUAYAS                            float64
IMBABURA                          float64
LOJA                              float64
LOS RIOS                          float64
MANABI                            float64
MORONA SANTIAGO                   float64
NAPO                              float64
PASTAZA                           float64
PICHINCHA                         float64
TUNGURAHUA                        float64
ZAMORA CHINCHIPE                  float64
GALAPAGOS                         float64
SUCUMBIOS                         float64
ORELLANA                          float64
SANTO DOMINGO DE LOS TSACHILAS    float64
SANTA ELENA                       float64
QUITO                             float64
GUAYAQUIL                         float64
CUENCA                            float64
MACHALA                           float64
AMBATO                            float64
dtype: object

In [33]:
columnas = ['AZUAY', 'BOLIVAR', 'CAÑAR', 'CARCHI', 'COTOPAXI', 'CHIMBORAZO', 'EL ORO', 'ESMERALDAS', 'GUAYAS', 'IMBABURA', 'LOJA', 'LOS RIOS', 'MANABI', 'MORONA SANTIAGO', 'NAPO', 'PASTAZA', 'PICHINCHA', 'TUNGURAHUA', 'ZAMORA CHINCHIPE', 'GALAPAGOS', 'SUCUMBIOS', 'ORELLANA', 'SANTO DOMINGO DE LOS TSACHILAS', 'SANTA ELENA', 'QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']

# Imputación por la mediana
df_merged[columnas] = df_merged[columnas].fillna(df_merged[columnas].median())


df_merged

,Año,Total,AZUAY,BOLIVAR,CAÑAR,CARCHI,COTOPAXI,CHIMBORAZO,EL ORO,ESMERALDAS,...,GALAPAGOS,SUCUMBIOS,ORELLANA,SANTO DOMINGO DE LOS TSACHILAS,SANTA ELENA,QUITO,GUAYAQUIL,CUENCA,MACHALA,AMBATO
51,2016,5.2,2.90,2.7,5.1,5.7,2.6,1.30,4.1,8.9,...,2.9,6.6,4.70,3.3,3.2,11.8,3.95,5.7,8.55,5.9
107,2017,4.6,4.00,2.4,4.3,5.2,2.3,0.90,4.2,7.8,...,0.8,7.7,3.50,3.1,4.3,11.8,3.95,5.7,8.55,5.9
163,2018,3.7,2.60,1.6,4.2,5.7,1.0,2.00,4.5,5.1,...,2.9,8.6,3.80,3.3,2.8,11.8,3.95,5.7,8.55,5.9
30,2019,4.2,3.40,1.4,3.9,4.9,1.7,1.30,4.9,10.4,...,2.1,4.7,1.80,2.8,2.8,11.8,3.95,5.7,8.55,5.9
80,2021,5.2,5.10,1.1,4.0,6.3,2.8,2.30,6.9,10.0,...,9.3,5.4,2.60,3.7,3.6,11.8,3.95,5.7,8.55,5.9
130,2022,4.4,3.30,0.9,3.7,5.9,1.7,2.00,6.0,9.1,...,5.6,4.5,1.30,2.3,2.7,11.8,3.95,5.7,8.55,5.9
9,2020,"5,6",3.35,1.5,4.1,5.7,2.0,1.65,4.7,9.0,...,2.9,6.0,3.05,3.2,3.0,15.8,4.20,7.3,11.10,8.0
149,2023,"3,8",3.35,1.5,4.1,5.7,2.0,1.65,4.7,9.0,...,2.9,6.0,3.05,3.2,3.0,7.8,3.70,4.1,6.00,3.8

In [34]:
df_merged.isnull().sum()

Año                               0
Total                             0
AZUAY                             0
BOLIVAR                           0
CAÑAR                             0
CARCHI                            0
COTOPAXI                          0
CHIMBORAZO                        0
EL ORO                            0
ESMERALDAS                        0
GUAYAS                            0
IMBABURA                          0
LOJA                              0
LOS RIOS                          0
MANABI                            0
MORONA SANTIAGO                   0
NAPO                              0
PASTAZA                           0
PICHINCHA                         0
TUNGURAHUA                        0
ZAMORA CHINCHIPE                  0
GALAPAGOS                         0
SUCUMBIOS                         0
ORELLANA                          0
SANTO DOMINGO DE LOS TSACHILAS    0
SANTA ELENA                       0
QUITO                             0
GUAYAQUIL                         0
CUENCA                            0
MACHALA                           0
AMBATO                            0
dtype: int64

In [35]:

# Supongamos que tienes un DataFrame llamado df_merged
# Creamos un DataFrame para las provincias
df_provincias = df_merged[['Año', 'AZUAY', 'BOLIVAR', 'CAÑAR', 'CARCHI', 'COTOPAXI', 'CHIMBORAZO', 'EL ORO', 'ESMERALDAS', 'GUAYAS', 'IMBABURA', 'LOJA', 'LOS RIOS', 'MANABI', 'MORONA SANTIAGO', 'NAPO', 'PASTAZA', 'PICHINCHA', 'TUNGURAHUA', 'ZAMORA CHINCHIPE', 'GALAPAGOS', 'SUCUMBIOS', 'ORELLANA', 'SANTO DOMINGO DE LOS TSACHILAS', 'SANTA ELENA']]
# Derretimos el DataFrame para transformar las columnas de provincias en filas
df_provincias_melted = pd.melt(df_provincias, id_vars=['Año'], var_name='Provincia', value_name='Tasa de Desempleo Provincia')

# Creamos un DataFrame para los cantones
df_cantones = df_merged[['Año', 'QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']]
# Derretimos el DataFrame para transformar las columnas de cantones en filas
df_cantones_melted = pd.melt(df_cantones, id_vars=['Año'], var_name='Canton', value_name='Tasa de Desempleo Canton')

# Fusionamos los DataFrames de provincias y cantones en función del año
df_final = pd.merge(df_provincias_melted, df_cantones_melted, on='Año', how='outer')

# Ahora, df_final contiene las columnas de año, desempleo de provincia, desempleo de cantón, provincia y cantón
df_final

,Año,Provincia,Tasa de Desempleo Provincia,Canton,Tasa de Desempleo Canton
0,2016,AZUAY,2.9,QUITO,11.80
1,2016,AZUAY,2.9,GUAYAQUIL,3.95
2,2016,AZUAY,2.9,CUENCA,5.70
3,2016,AZUAY,2.9,MACHALA,8.55
4,2016,AZUAY,2.9,AMBATO,5.90
...,...,...,...,...,...
955,2023,SANTA ELENA,3.0,QUITO,7.80
956,2023,SANTA ELENA,3.0,GUAYAQUIL,3.70
957,2023,SANTA ELENA,3.0,CUENCA,4.10
958,2023,SANTA ELENA,3.0,MACHALA,6.00
959,2023,SANTA ELENA,3.0,AMBATO,3.80

In [36]:
#df_final.fillna(0)

In [37]:
#df_final.columns.tolist()

In [38]:
#df_final.dtypes

In [39]:
#  archivo CSV
#df_final.to_csv('desempleo.csv', index=False)

## Poblaciones

In [40]:
poblacion = pd.read_excel(r"C:\Users\geova\OneDrive\Escritorio\Poblaciones.xlsx" )
poblacion

,Año,Poblacion,Nacional,Azuay,Bolívar,Cañar,Carchi,Cotopaxi,Chimborazo,El Oro,...,Galápagos,Sucumbíos,Orellana,Santo Domingo de los Tsáchilas,Santa Elena,Quito,Guayaquil,Cuenca,Machala,Ambato
0,2016,Población Total,16714929,837801.0,206761.0,267923.0,182859.0,472986.0,515248.0,685431.0,...,30532.0,215991.0,155535.0,431754.0,371881.0,1875436,2538209,386346,262307,186621
1,2017,Población Total,16961926,1004108.0,239127.0,325438.0,275136.0,696305.0,434234.0,667337.0,...,34225.0,186371.0,158125.0,460444.0,480931.0,1907739,2563585,393502,265218,188805
2,2018,Población Total,17223542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1941789,2599084,400655,269037,191652
3,2019,Población Total,17454560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1964156,2629022,405270,272136,193859
4,2020,Población Total,17675512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1989021,2662302,410401,275581,196313
5,2021,Población Total,17917508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016395,2698904,416063,279384,199012
6,2022,Población Total,16938986,801609.0,199078.0,227578.0,172828.0,470210.0,471933.0,714592.0,...,28583.0,199014.0,182166.0,492969.0,385735.0,2044128,2735974,421773,283209,201758
7,2023,Población Total,16938986,801609.0,199078.0,227578.0,172828.0,470210.0,471933.0,714592.0,...,28583.0,199014.0,182166.0,492969.0,385735.0,2058148,2754701,424651,285138,203141

In [41]:
nombres_columnas = {
    'Azuay':'AZUAY',
    'Bolívar':'BOLIVAR',
    'Cañar':'CAÑAR',
    'Carchi':'CARCHI',
    'Cotopaxi':'COTOPAXI',
    'Chimborazo':'CHIMBORAZO',
    'El Oro':'EL ORO',
    'Esmeraldas':'ESMERALDAS',
    'Guayas':'GUAYAS',
    'Imbabura':'IMBABURA',
    'Loja':'LOJA',
    'Los Ríos':'LOS RIOS',
    'Manabí':'MANABI',
    'Morona Santiago':'MORONA SANTIAGO',
    'Napo':'NAPO',
    'Pastaza':"PASTAZA",
    'Pichincha':'PICHINCHA',
    'Tungurahua':'TUNGURAHUA',
    'Zamora Chinchipe':'ZAMORA CHINCHIPE',
    'Galápagos':'GALAPAGOS',
    'Sucumbíos':'SUCUMBIOS',
    'Orellana':'ORELLANA',
    'Santo Domingo de los Tsáchilas':'SANTO DOMINGO DE LOS TSACHILAS',
    'Santa Elena':'SANTA ELENA',
    'Quito':'QUITO',
    'Guayaquil':'GUAYAQUIL',
    'Cuenca':'CUENCA',
    'Machala':'MACHALA',
    'Ambato':'AMBATO'
    }
poblacion = poblacion.drop(columns=['Poblacion'])
# Renombrar las columnas utilizando el diccionario
poblacion.rename(columns=nombres_columnas, inplace=True)
#poblacion= poblacion.fillna(0)

In [42]:
columnas = ['AZUAY', 'BOLIVAR', 'CAÑAR', 'CARCHI', 'COTOPAXI', 'CHIMBORAZO', 'EL ORO', 'ESMERALDAS', 'GUAYAS', 'IMBABURA', 'LOJA', 'LOS RIOS', 'MANABI', 'MORONA SANTIAGO', 'NAPO', 'PASTAZA', 'PICHINCHA', 'TUNGURAHUA', 'ZAMORA CHINCHIPE', 'GALAPAGOS', 'SUCUMBIOS', 'ORELLANA', 'SANTO DOMINGO DE LOS TSACHILAS', 'SANTA ELENA', 'QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']
# Imputación por la mediana
poblacion[columnas] = poblacion[columnas].fillna(poblacion[columnas].median())

poblacion

,Año,Nacional,AZUAY,BOLIVAR,CAÑAR,CARCHI,COTOPAXI,CHIMBORAZO,EL ORO,ESMERALDAS,...,GALAPAGOS,SUCUMBIOS,ORELLANA,SANTO DOMINGO DE LOS TSACHILAS,SANTA ELENA,QUITO,GUAYAQUIL,CUENCA,MACHALA,AMBATO
0,2016,16714929,837801.0,206761.0,267923.0,182859.0,472986.0,515248.0,685431.0,616329.0,...,30532.0,215991.0,155535.0,431754.0,371881.0,1875436,2538209,386346,262307,186621
1,2017,16961926,1004108.0,239127.0,325438.0,275136.0,696305.0,434234.0,667337.0,895044.0,...,34225.0,186371.0,158125.0,460444.0,480931.0,1907739,2563585,393502,265218,188805
2,2018,17223542,819705.0,202919.5,247750.5,177843.5,471598.0,471933.0,700011.5,585114.5,...,29557.5,199014.0,170145.5,476706.5,385735.0,1941789,2599084,400655,269037,191652
3,2019,17454560,819705.0,202919.5,247750.5,177843.5,471598.0,471933.0,700011.5,585114.5,...,29557.5,199014.0,170145.5,476706.5,385735.0,1964156,2629022,405270,272136,193859
4,2020,17675512,819705.0,202919.5,247750.5,177843.5,471598.0,471933.0,700011.5,585114.5,...,29557.5,199014.0,170145.5,476706.5,385735.0,1989021,2662302,410401,275581,196313
5,2021,17917508,819705.0,202919.5,247750.5,177843.5,471598.0,471933.0,700011.5,585114.5,...,29557.5,199014.0,170145.5,476706.5,385735.0,2016395,2698904,416063,279384,199012
6,2022,16938986,801609.0,199078.0,227578.0,172828.0,470210.0,471933.0,714592.0,553900.0,...,28583.0,199014.0,182166.0,492969.0,385735.0,2044128,2735974,421773,283209,201758
7,2023,16938986,801609.0,199078.0,227578.0,172828.0,470210.0,471933.0,714592.0,553900.0,...,28583.0,199014.0,182166.0,492969.0,385735.0,2058148,2754701,424651,285138,203141

In [43]:
#poblacion.isnull().sum()

In [44]:
#poblacion.columns.tolist()

In [45]:

df_provincias = poblacion[['Año', 'AZUAY', 'BOLIVAR', 'CAÑAR', 'CARCHI', 'COTOPAXI', 'CHIMBORAZO', 'EL ORO', 'ESMERALDAS', 'GUAYAS', 'IMBABURA', 'LOJA', 'LOS RIOS', 'MANABI', 'MORONA SANTIAGO', 'NAPO', 'PASTAZA', 'PICHINCHA', 'TUNGURAHUA', 'ZAMORA CHINCHIPE', 'GALAPAGOS', 'SUCUMBIOS', 'ORELLANA', 'SANTO DOMINGO DE LOS TSACHILAS', 'SANTA ELENA']]
# Derretimos el DataFrame para transformar las columnas de provincias en filas
df_provincias_melted = pd.melt(df_provincias, id_vars=['Año'], var_name='Provincia', value_name='Poblacion Provincia')

# Creamos un DataFrame para los cantones
df_cantones = poblacion[['Año', 'QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']]
# Derretimos el DataFrame para transformar las columnas de cantones en filas
df_cantones_melted = pd.melt(df_cantones, id_vars=['Año'], var_name='Canton', value_name='Población Canton')

# Fusionamos los DataFrames de provincias y cantones en función del año
df_poblacion = pd.merge(df_provincias_melted, df_cantones_melted, on='Año', how='outer')

# Ahora, df_final contiene las columnas de año, desempleo de provincia, desempleo de cantón, provincia y cantón

In [46]:
df_poblacion

      Año    Provincia  Poblacion Provincia     Canton  Población Canton
0    2016        AZUAY             837801.0      QUITO           1875436
1    2016        AZUAY             837801.0  GUAYAQUIL           2538209
2    2016        AZUAY             837801.0     CUENCA            386346
3    2016        AZUAY             837801.0    MACHALA            262307
4    2016        AZUAY             837801.0     AMBATO            186621
..    ...          ...                  ...        ...               ...
955  2023  SANTA ELENA             385735.0      QUITO           2058148
956  2023  SANTA ELENA             385735.0  GUAYAQUIL           2754701
957  2023  SANTA ELENA             385735.0     CUENCA            424651
958  2023  SANTA ELENA             385735.0    MACHALA            285138
959  2023  SANTA ELENA             385735.0     AMBATO            203141

[960 rows x 5 columns]

In [47]:
df_poblacion.isnull()

       Año  Provincia  Poblacion Provincia  Canton  Población Canton
0    False      False                False   False             False
1    False      False                False   False             False
2    False      False                False   False             False
3    False      False                False   False             False
4    False      False                False   False             False
..     ...        ...                  ...     ...               ...
955  False      False                False   False             False
956  False      False                False   False             False
957  False      False                False   False             False
958  False      False                False   False             False
959  False      False                False   False             False

[960 rows x 5 columns]

In [48]:
#df_poblacion.to_csv('Poblacion_melt.csv', index=False)

## Pobreza por ingreso (multidimensional)

In [49]:
pobreza = pd.read_csv(r"C:\Users\geova\OneDrive\Escritorio\2022\03 ENEMDU_acumulada_Tabulados_Pobreza_Desigualdad_2022_CSV\1. Estimadores.csv",  sep=';', encoding='latin-1')
pobreza

,Periodo,Indicador,Estimador,Total,Urbano,Rural,Quito,Guayaquil,Cuenca,Machala,...,Morona Santiago,Napo,Pastaza,Pichincha,Tungurahua,Zamora Chinchipe,Sucumbíos,Orellana,Santo Domingo,Santa Elena
0,2019,Pobreza por ingresos,Indicador,"21,90%","14,70%","39,50%","12,10%","10,80%","5,60%","11,20%",...,"61,20%","55,40%","57,40%","12,80%","19,80%","43,10%","47,70%","52,30%","18,90%","28,10%"
1,2019,Pobreza por ingresos,Error estándar,"0,004","0,003","0,009","0,005","0,006","0,005","0,006",...,"0,029","0,03","0,058","0,006","0,01","0,128","0,033","0,057","0,015","0,027"
2,2019,Pobreza por ingresos,Límite inferior,"21,20%","14,00%","37,80%","11,10%","9,60%","4,60%","10,00%",...,"55,50%","49,50%","46,10%","11,70%","17,90%","18,00%","41,30%","41,10%","15,90%","22,80%"
3,2019,Pobreza por ingresos,Límite superior,"22,60%","15,30%","41,10%","13,10%","11,90%","6,60%","12,40%",...,"66,90%","61,30%","68,70%","14,00%","21,80%","68,30%","54,10%","63,60%","22,00%","33,40%"
4,2019,Pobreza por ingresos,Coeficiente de variación,"1,7","2,3","2,2","4,2","5,4",9,"5,6",...,"4,7","5,4",10,"4,5","5,1","29,8","6,8",11,"8,1","9,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2022,Pobreza por Necesidades Básicas Insatisfechas ...,Indicador,"29,30%","21,10%","46,80%","7,40%","28,40%","5,60%","21,20%",...,"70,10%","50,50%","71,70%","10,10%","10,70%","27,50%","64,30%","64,40%","34,10%","31,30%"
68,2022,Pobreza por Necesidades Básicas Insatisfechas ...,Error estándar,"0,008","0,008","0,016","0,008","0,015","0,007","0,014",...,"0,059","0,062","0,051","0,007","0,019","0,043","0,095","0,048","0,033","0,018"
69,2022,Pobreza por Necesidades Básicas Insatisfechas ...,Límite inferior,"27,70%","19,40%","43,70%","5,80%","25,50%","4,20%","18,30%",...,"58,50%","38,40%","61,60%","8,70%","6,80%","19,00%","45,70%","54,90%","27,50%","27,80%"
70,2022,Pobreza por Necesidades Básicas Insatisfechas ...,Límite superior,"30,80%","22,70%","49,90%","9,00%","31,30%","7,00%","24,00%",...,"81,70%","62,60%","81,80%","11,40%","14,50%","36,00%","83,00%","73,80%","40,60%","34,90%"
71,2022,Pobreza por Necesidades Básicas Insatisfechas ...,Coeficiente de variación,"2,7",4,"3,4","11,1","5,2","12,8","6,8",...,"8,4","12,2","7,2","6,8","18,2","15,8","14,8","7,5","9,8","5,8"

In [50]:
pobrezam = pobreza[pobreza['Indicador'].str.contains('Tasa de pobreza multidimensional', case=False)& pobreza['Estimador'].str.contains('Indicador', case=False)]
pobrezam

,Periodo,Indicador,Estimador,Total,Urbano,Rural,Quito,Guayaquil,Cuenca,Machala,...,Morona Santiago,Napo,Pastaza,Pichincha,Tungurahua,Zamora Chinchipe,Sucumbíos,Orellana,Santo Domingo,Santa Elena
14,2019,Tasa de pobreza multidimensional,Indicador,"35,70%","22,50%","67,70%","7,90%","23,80%","7,20%","18,40%",...,"75,90%","70,40%","75,60%","11,30%","33,50%","61,00%","60,50%","73,40%","39,90%","42,00%"
38,2021,Tasa de pobreza multidimensional,Indicador,"39,60%","26,10%","68,40%","10,90%","25,70%","11,30%","25,10%",...,"82,40%","76,00%","72,60%","15,70%","38,00%","49,60%","63,00%","79,60%","41,30%","42,00%"
62,2022,Tasa de pobreza multidimensional,Indicador,"38,40%","24,70%","67,70%","10,70%","24,90%","8,90%","21,10%",...,"81,00%","81,60%","79,80%","15,40%","39,60%","55,00%","71,90%","81,80%","37,00%","40,00%"

In [51]:
pobreza.columns.tolist()

['Periodo',
 'Indicador',
 'Estimador',
 'Total',
 'Urbano',
 'Rural',
 'Quito',
 'Guayaquil',
 'Cuenca',
 'Machala',
 'Ambato',
 'Azuay',
 'Bolívar',
 'Cañar',
 'Carchi',
 'Cotopaxi',
 'Chimborazo',
 'El Oro',
 'Esmeraldas',
 'Guayas',
 'Imbabura',
 'Loja',
 'Los Ríos',
 'Manabí',
 'Morona Santiago',
 'Napo',
 'Pastaza',
 'Pichincha',
 'Tungurahua',
 'Zamora Chinchipe',
 'Sucumbíos',
 'Orellana',
 'Santo Domingo',
 'Santa Elena']

In [52]:
nombres_columnas = {'Periodo':'Año',
    'Azuay':'AZUAY',
    'Bolívar':'BOLIVAR',
    'Cañar':'CAÑAR',
    'Carchi':'CARCHI',
    'Cotopaxi':'COTOPAXI',
    'Chimborazo':'CHIMBORAZO',
    'El Oro':'EL ORO',
    'Esmeraldas':'ESMERALDAS',
    'Guayas':'GUAYAS',
    'Imbabura':'IMBABURA',
    'Loja':'LOJA',
    'Los Ríos':'LOS RIOS',
    'Manabí':'MANABI',
    'Morona Santiago':'MORONA SANTIAGO',
    'Napo':'NAPO',
    'Pastaza':"PASTAZA",
    'Pichincha':'PICHINCHA',
    'Tungurahua':'TUNGURAHUA',
    'Zamora Chinchipe':'ZAMORA CHINCHIPE',
    'Galápagos':'GALAPAGOS',
    'Sucumbíos':'SUCUMBIOS',
    'Orellana':'ORELLANA',
    'Santo Domingo':'SANTO DOMINGO DE LOS TSACHILAS',
    'Santa Elena':'SANTA ELENA',
    'Quito':'QUITO',
    'Guayaquil':'GUAYAQUIL',
    'Cuenca':'CUENCA',
    'Machala':'MACHALA',
    'Ambato':'AMBATO'
    }
#pobrezam = pobrezam.drop(columns=['Estimador','Urbano','Rural','Total' ])
# Renombrar las columnas utilizando el diccionario
pobrezam.rename(columns=nombres_columnas, inplace=True)
pobrezam

C:\Users\geova\AppData\Local\Temp\ipykernel_8844\317028796.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pobrezam.rename(columns=nombres_columnas, inplace=True)

,Año,Indicador,Estimador,Total,Urbano,Rural,QUITO,GUAYAQUIL,CUENCA,MACHALA,...,MORONA SANTIAGO,NAPO,PASTAZA,PICHINCHA,TUNGURAHUA,ZAMORA CHINCHIPE,SUCUMBIOS,ORELLANA,SANTO DOMINGO DE LOS TSACHILAS,SANTA ELENA
14,2019,Tasa de pobreza multidimensional,Indicador,"35,70%","22,50%","67,70%","7,90%","23,80%","7,20%","18,40%",...,"75,90%","70,40%","75,60%","11,30%","33,50%","61,00%","60,50%","73,40%","39,90%","42,00%"
38,2021,Tasa de pobreza multidimensional,Indicador,"39,60%","26,10%","68,40%","10,90%","25,70%","11,30%","25,10%",...,"82,40%","76,00%","72,60%","15,70%","38,00%","49,60%","63,00%","79,60%","41,30%","42,00%"
62,2022,Tasa de pobreza multidimensional,Indicador,"38,40%","24,70%","67,70%","10,70%","24,90%","8,90%","21,10%",...,"81,00%","81,60%","79,80%","15,40%","39,60%","55,00%","71,90%","81,80%","37,00%","40,00%"

In [53]:

# Creamos un DataFrame para las provincias
df_provincias = pobrezam[['Año', 'AZUAY', 'BOLIVAR', 'CAÑAR', 'CARCHI', 'COTOPAXI', 'CHIMBORAZO', 'EL ORO', 'ESMERALDAS', 'GUAYAS', 'IMBABURA', 'LOJA', 'LOS RIOS', 'MANABI', 'MORONA SANTIAGO', 'NAPO', 'PASTAZA', 'PICHINCHA', 'TUNGURAHUA', 'ZAMORA CHINCHIPE', #'GALAPAGOS', 
                          'SUCUMBIOS', 'ORELLANA', 'SANTO DOMINGO DE LOS TSACHILAS', 'SANTA ELENA']]
# Derretimos el DataFrame para transformar las columnas de provincias en filas
df_provincias_melted = pd.melt(df_provincias, id_vars=['Año'], var_name='Provincia', value_name='Pobreza Provincia')

# Creamos un DataFrame para los cantones
df_cantones = pobrezam[['Año', 'QUITO', 'GUAYAQUIL', 'CUENCA', 'MACHALA', 'AMBATO']]
# Derretimos el DataFrame para transformar las columnas de cantones en filas
df_cantones_melted = pd.melt(df_cantones, id_vars=['Año'], var_name='Canton', value_name='Pobreza Canton')

# Fusionamos los DataFrames de provincias y cantones en función del año
df_pobrezam = pd.merge(df_provincias_melted, df_cantones_melted, on='Año', how='outer')
df_pobrezam

      Año    Provincia Pobreza Provincia     Canton Pobreza Canton
0    2019        AZUAY            24,70%      QUITO          7,90%
1    2019        AZUAY            24,70%  GUAYAQUIL         23,80%
2    2019        AZUAY            24,70%     CUENCA          7,20%
3    2019        AZUAY            24,70%    MACHALA         18,40%
4    2019        AZUAY            24,70%     AMBATO          7,70%
..    ...          ...               ...        ...            ...
340  2022  SANTA ELENA            40,00%      QUITO         10,70%
341  2022  SANTA ELENA            40,00%  GUAYAQUIL         24,90%
342  2022  SANTA ELENA            40,00%     CUENCA          8,90%
343  2022  SANTA ELENA            40,00%    MACHALA         21,10%
344  2022  SANTA ELENA            40,00%     AMBATO          9,90%

[345 rows x 5 columns]

In [54]:
#df_pobrezam.to_csv('Pobreza.csv', index=False)

## UNIDO

In [55]:
socec = pd.merge(df_final,df_poblacion, on=['Año', 'Provincia',"Canton"], how='left')
socec

,Año,Provincia,Tasa de Desempleo Provincia,Canton,Tasa de Desempleo Canton,Poblacion Provincia,Población Canton
0,2016,AZUAY,2.9,QUITO,11.80,837801.0,1875436
1,2016,AZUAY,2.9,GUAYAQUIL,3.95,837801.0,2538209
2,2016,AZUAY,2.9,CUENCA,5.70,837801.0,386346
3,2016,AZUAY,2.9,MACHALA,8.55,837801.0,262307
4,2016,AZUAY,2.9,AMBATO,5.90,837801.0,186621
...,...,...,...,...,...,...,...
955,2023,SANTA ELENA,3.0,QUITO,7.80,385735.0,2058148
956,2023,SANTA ELENA,3.0,GUAYAQUIL,3.70,385735.0,2754701
957,2023,SANTA ELENA,3.0,CUENCA,4.10,385735.0,424651
958,2023,SANTA ELENA,3.0,MACHALA,6.00,385735.0,285138
959,2023,SANTA ELENA,3.0,AMBATO,3.80,385735.0,203141

In [58]:
socioeconomico = pd.merge(socec,df_pobrezam, on=['Año', 'Provincia',"Canton"], how='left')

socioeconomico.fillna(0)

,Año,Provincia,Tasa de Desempleo Provincia,Canton,Tasa de Desempleo Canton,Poblacion Provincia,Población Canton,Pobreza Provincia,Pobreza Canton
0,2016,AZUAY,2.9,QUITO,11.80,837801.0,1875436,0,0
1,2016,AZUAY,2.9,GUAYAQUIL,3.95,837801.0,2538209,0,0
2,2016,AZUAY,2.9,CUENCA,5.70,837801.0,386346,0,0
3,2016,AZUAY,2.9,MACHALA,8.55,837801.0,262307,0,0
4,2016,AZUAY,2.9,AMBATO,5.90,837801.0,186621,0,0
...,...,...,...,...,...,...,...,...,...
955,2023,SANTA ELENA,3.0,QUITO,7.80,385735.0,2058148,0,0
956,2023,SANTA ELENA,3.0,GUAYAQUIL,3.70,385735.0,2754701,0,0
957,2023,SANTA ELENA,3.0,CUENCA,4.10,385735.0,424651,0,0
958,2023,SANTA ELENA,3.0,MACHALA,6.00,385735.0,285138,0,0
959,2023,SANTA ELENA,3.0,AMBATO,3.80,385735.0,203141,0,0

In [59]:
#socioeconomico.to_csv('socioeconomico.csv', index=False)